*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.conteiner {
    height: fit-content;
    max-width: 22rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 20px;
}

.conteiner__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 15px;
    gap: 30px;
}

img {
 border-radius: 20px;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-size: 1.25rem;
}

p {
    color: hsl(220, 15%, 55%);
    font-size: 0.9375rem;
    margin-bottom: 1rem;
}

h1, p {
    text-align: center;
    margin: 0.5rem 0.5rem 0 0.5rem;
}

footer {
    margin-top: 25px;
}
