*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.conteiner {
    height: fit-content;
    width: 25rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 20px;
}

.conteiner__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 15px;
    gap: 30px;
}

img {
 border-radius: 20px;
}

h1 {
    font-size: 28px;
    color: hsl(218, 44%, 22%);
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

footer {
    margin-top: 25px;
}

@media screen and (max-width: 767px) {
    .conteiner {
        width: 22rem;
    }
}